.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-btn {
    color: rgb(163, 103, 35);
    border: none;
    background-color: transparent;
    cursor: pointer;
}