.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.filter-btn {
    color: rgb(163, 103, 35);
    border: 1px solid transparent;
    background-color: transparent;
    cursor: pointer;
    border-radius: 3px;
    text-transform: capitalize;
    padding: 5px;
}

.filter-btn:hover {
    background-color: rgb(163, 103, 35);
    border: 1px solid black;
    color: white;
}