.menu-item {
    display: flex;
    margin-bottom: 40px;
}

.photo {
    width: 200px;
}

.item-info {
    margin-left: 20px;
}

header {
    display: flex;
}

.food-name {
    text-transform: capitalize;
}

.price {
    margin-left: auto;
}