.section-center {
    margin-top: 50px;
}

.menu-item {
    display: flex;
    margin-bottom: 40px;
}

.photo {
    width: 200px;
    border: 3px solid rgb(163, 103, 35);
    border-radius: 3px;
}

.item-info {
    margin-left: 20px;
}

header {
    display: flex;
}

.food-name {
    text-transform: capitalize;
}

.price {
    margin-left: auto;
}